<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ReviewMapper">
		
	<resultMap id="reviewMap" type="review">
		
		<result property="reviewNo"	column="review_no" 		jdbcType="NUMERIC" />
		
		<result property="tranNo"	column="tran_no" 		jdbcType="NUMERIC" />
		<result property="prodNo"	column="prod_no" 	jdbcType="NUMERIC" />
		<result property="rating"		column="rating" 		jdbcType="NUMERIC" />
	
		<result property="userId"		column="user_id" 	jdbcType="VARCHAR" />
		<result property="review" 	column="review" 		jdbcType="VARCHAR"/>
		<result property="imgFile"	column="img_file" 	jdbcType="VARCHAR" />
		<result property="regDate"	column="reg_date" 	jdbcType="DATE" />
		<result property="show"		column="show" 		jdbcType="NUMERIC" />
		
	</resultMap>
	
	
	<insert id="addReview" parameterType="review" >
	
	<selectKey keyProperty="reviewNo" resultType="int" order="BEFORE">  
       SELECT seq_review_review_no.nextval FROM DUAL
     </selectKey>
		INSERT INTO
		review (review_no, prod_no, tran_no, user_id, 
					review, rating, img_file, reg_date)
		values (#{reviewNo}, #{prodNo}, #{tranNo}, #{userId},
					 #{review}, #{rating}, #{img_file}, SYSDATE)
	</insert>
	
	<select id="getProductReview" parameterType="int" resultMap="reviewMap">
		SELECT
		review_no, prod_no, tran_no, user_id, review, rating, img_file, reg_date
		FROM
		review
		WHERE
		prod_no = #{value}
	</select>
	
	<select id="getProductReviewCount" parameterType="int" resultType="int">
		SELECT
		COUNT(*)
		FROM
		review
		WHERE
		prod_no = #{value}
	</select>
	
	<update id="showReview" parameterType="review" >
		UPDATE
		review 
		<set>
			show = #{show}
		</set>
		WHERE review_no = #{reviewNo}
	</update>
		
	</mapper>